.FullBox
{
    width: 840px;
    background-color: white;
    border-radius: 7px;
    margin: 0px 5px 12px 5px;
    box-shadow: 0px 0px 5px 3px #404040;
    padding: 0px 0px 7px 0px;
}

.HalfBox
{
    width: 414px;
    background-color: white;
    border-radius: 7px;
    margin: 0px 5px 12px 5px;
    box-shadow: 0px 0px 5px 3px #404040;
    padding: 0px 0px 7px 0px;
}

.FullBox .NoHeader,
.HalfBox .NoHeader
{
    height: 7px;
}

.FullBox .OuterBoxHeader,
.HalfBox .OuterBoxHeader
{
    border-radius: 7px 7px 0px 0px;
	font-weight: bold;
}

/*
=============================================================
======================== CHECKERBOARD =======================
=============================================================
*/
.HeaderStyleSolid .FullBox .OuterBoxHeader,
.HeaderStyleSolid .HalfBox .OuterBoxHeader
{
    height: 20px;
	padding: 10px 0px 10px 12px;
	font-size: 24px;
    border-bottom: 1px solid #404040;
    margin-bottom: 5px;
}

/*
=============================================================
=========================== PENCIL ==========================
=============================================================
*/
.HeaderStylePencil .FullBox .OuterBoxHeader,
.HeaderStylePencil .HalfBox .OuterBoxHeader
{
    background-image: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,255));
}

.HeaderStylePencil .FullBox .InnerBoxHeader,
.HeaderStylePencil .HalfBox .InnerBoxHeader
{
    height: 39px;
	padding: 14px 0px 0px 95px;
	background-image: url(../../../Images/Themes/Headers/FullPencil.png);
    background-position: 3px 1px;
	background-repeat: no-repeat;
	font-size: 16px;
}

.HeaderStylePencil .HalfBox .InnerBoxHeader
{
	background-image: url(../../../Images/Themes/Headers/HalfPencil.png);
}

/*
=============================================================
======================== CHECKERBOARD =======================
=============================================================
*/
.HeaderStyleRedChecker .FullBox .OuterBoxHeader,
.HeaderStyleRedChecker .HalfBox .OuterBoxHeader,
.HeaderStyleOrangeChecker .FullBox .OuterBoxHeader,
.HeaderStyleOrangeChecker .HalfBox .OuterBoxHeader,
.HeaderStyleYellowChecker .FullBox .OuterBoxHeader,
.HeaderStyleYellowChecker .HalfBox .OuterBoxHeader,
.HeaderStyleGreenChecker .FullBox .OuterBoxHeader,
.HeaderStyleGreenChecker .HalfBox .OuterBoxHeader,
.HeaderStyleBlueChecker .FullBox .OuterBoxHeader,
.HeaderStyleBlueChecker .HalfBox .OuterBoxHeader,
.HeaderStylePurpleChecker .FullBox .OuterBoxHeader,
.HeaderStylePurpleChecker .HalfBox .OuterBoxHeader,
.HeaderStyleGrayChecker .FullBox .OuterBoxHeader,
.HeaderStyleGrayChecker .HalfBox .OuterBoxHeader
{
    height: 20px;
	padding: 10px 0px 10px 12px;
	font-size: 24px;
    border-bottom: 1px solid #404040;
    margin-bottom: 5px;
}

.HeaderStyleRedChecker .FullBox .OuterBoxHeader,
.HeaderStyleRedChecker .HalfBox .OuterBoxHeader
{
    background-image: url(../../../Images/Themes/Headers/RedChecker.png);
}

.HeaderStyleOrangeChecker .FullBox .OuterBoxHeader,
.HeaderStyleOrangeChecker .HalfBox .OuterBoxHeader
{
    background-image: url(../../../Images/Themes/Headers/OrangeChecker.png);
}

.HeaderStyleYellowChecker .FullBox .OuterBoxHeader,
.HeaderStyleYellowChecker .HalfBox .OuterBoxHeader
{
    background-image: url(../../../Images/Themes/Headers/YellowChecker.png);
}

.HeaderStyleGreenChecker .FullBox .OuterBoxHeader,
.HeaderStyleGreenChecker .HalfBox .OuterBoxHeader
{
    background-image: url(../../../Images/Themes/Headers/GreenChecker.png);
}

.HeaderStyleBlueChecker .FullBox .OuterBoxHeader,
.HeaderStyleBlueChecker .HalfBox .OuterBoxHeader
{
    background-image: url(../../../Images/Themes/Headers/BlueChecker.png);
}

.HeaderStylePurpleChecker .FullBox .OuterBoxHeader,
.HeaderStylePurpleChecker .HalfBox .OuterBoxHeader
{
    background-image: url(../../../Images/Themes/Headers/PurpleChecker.png);
}

.HeaderStyleGrayChecker .FullBox .OuterBoxHeader,
.HeaderStyleGrayChecker .HalfBox .OuterBoxHeader
{
    background-image: url(../../../Images/Themes/Headers/GrayChecker.png);
}
